@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.guests-jumbotron {
    font-family: 'Nanum Myeongjo', serif;
    background-color: #24272a;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
