@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.homepage-jumbotron {
    background-color: #24272a;
    color: rgb(98, 79, 119);
    font-family: 'Lobster', cursive;
    min-height: 75%;
    min-height: 75vh;
    display: flex;
    align-items: center; 
}
